:root {
    --mid-light: #646464;
    --navbar: #323232;
    --background: #202020;
    --text: #C0C0C0;
    --link: #ff5050;
    --title: #9090ff;
    --link-hover: #ff9900;

    --navbar-width: 256px;
}

html, body {
    margin: 0px;
    height: 100%;
}

body {
    background-color: var(--background);

    color: var(--text);
    font-family: calibri, helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 300;

    display: flex;
    flex-direction: row;
    margin: 0px;
}

.navbar {
    display: flex;
    flex-direction:column;
    background-color: var(--navbar);
    width: var(--navbar-width);
}

.nameplate {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 16px;
    padding-left: 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.epithet {
    margin: 0px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-button {
    margin: 0px;
    padding-left: 32px;
    padding-right: 16px;
    height: 69px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-button:hover {
    background-color: var(--background);
}

.content-outer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    overflow-y: auto;
    height: 100%;
    padding: 0px;

    scrollbar-color: var(--mid-light) var(--navbar);
}

.content-inner {
    width: 800px;
    padding: 20px;
}

.content-bottom-spacer {
    height: 200px;
}



a:link, a:visited
{
	color: var(--link);
    text-decoration: none;
}

a:hover
{
	color: var(--link-hover);
    text-decoration: none;
}