body
{
	background-image: url("background-light.png");
	background-color: #202020;
	color: lightgray;
	padding: 20px;
	font-family: calibri, helvetica, sans-serif;
}

body, body *
{
	box-sizing: border-box;
}

h1, h2, h4
{
	color: #9999ff;
}

a:link, a:visited
{
	color: #ff5050;
}

a:hover
{
	color: #ff9900;
}

.container
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.container > div
{
	padding: 10px;
}

ul
{
	padding-left: 10px;
}

li
{
	margin: 10px;
}

.reference
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.lineitem
{
	margin: 40px 10px;
}

.reftitle
{
	font-style: italic;
}

#profile-photo
{
	width: 200px;
	border: 2px solid lightgray;
	border-radius: 4px;
}

#page
{
	width: 100%;
	max-width: 800px;
	border: 2px solid lightgray;
	border-radius: 4px;
	background-color: #303030;
}